<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add City</title>
</head>
<body>
    <h1 align="center">Add City</h1>
    
    <form method="POST">
        <input type="file" name="file" />  
        <input type = "submit" value="Upload"> 
      <textarea name="text" id="text" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Add Ciy</button>
      </div>
    </form>
    <br />
    <div align="center">
      <a href="/index"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>
</body>
</html>
   