<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jericho City</title>
</head>
<body style="background-image: url('/static/assets/img/slide/weather.jpg');">
   <h1>Jericho City</h1>
        <img src="{{url_for('static', filename='assets/img/slide/jercho.jpg')}}"  style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;" />
        <p style="font-size: 25px;">The ancient city of Jericho is about a mile from the west,<br>
           and its place is known as the Abu Al-Alayk Hills, to the north of Tel Al-Sultan.<br>
           It dates back to 10,000-11,000 years. It was built of mud bricks, and around it was<br> 
           a trench 28 feet wide and 8 feet deep and carved from rock. Pottery, bronze artifacts,<br>
           bones, wooden household items, baskets and fabrics were discovered at its site. It was<br> 
           destroyed in the late Bronze Age and is the oldest city discovered so far. Jericho is considered<br> 
           the eastern gateway to Palestine. It is linked to the East Bank by a network of paved roads and is<br> 
           connected to the Jerusalem-Amman road. It is located to the north of the city of Jerusalem, 38 km away <br>
           from it, and 70 km from the city of Hebron in the south.
        </p> 
        <p style="font-size: 25px;">
            The city of Jericho is considered one of the cities of the climatic centers, due to its warm <br>
            climate in the winter and its great low below sea level. Therefore, many visitors come to it <br>
            in the winter to recover, and the urban form in the city retains the radioactive form, and many <br>
            streets branch off from the city center in all directions, and for this reason The style has important<br> 
            advantages, including the addition of land areas within the city, and this makes it retain health advantages.<br> 
            Jericho includes many monuments such as:<br>
Hisham's Palace <br>
A magnificent Arab palace built by Hisham ibn Abd al-Malik, who ruled in 105-125 AH (724-743 AD) on Khirbat al-Mafjar.<br> 
It is located north of Jericho, and east of Ain Duke in Khirbet al-Mafjar, 3 km from Jericho. in the West Bank.<br>
        </p>
      
    <div class="previous"  style="background-color: #81b7e4;
    top:80px;
    color: white;
    align-items: right;
    font-size: 25px;
    margin-left: 70%;
    margin: 10 px;
    padding: 10px;
    position:center;
    right:60%;
    float: right;
    border-radius: 20px;">
              <a href="{{ url_for('views.home') }}">Retun </a>
              </div>    
</body>
</html>